h1, h2 {
  @apply text-2xl;
}

h3, h4 {
  @apply text-lg;
}

p {
  @apply text-sm;
}

h1, h3, h5, li {
  @apply font-sans;
}

h2, h4, h6, p {
  @apply font-serif;
}

.layout_section {
  margin-bottom: 60px;
  @apply px-3;
}

@screen lg {
  .layout_section {
    margin-bottom: 60px;
    @apply px-0;
  }
}